@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/cuprum.woff2") format("woff2"),
  url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
  url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/*===================================================================
                                                               header
===================================================================*/

.main-header {
  background-color: #f2f6f8;
  min-height: 320px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top {
  height: 42px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    justify-content: center;
    align-items: center;
  width: 220px;
    height: 42px;
  background-color: #ee3643;
    border-bottom: 5px solid rgba(0, 0, 0, 0.24);
}

.logo-footer:hover,
.logo-header:hover {
  background-color: #ca2c37;
    border-bottom: 5px solid rgba(0, 0, 0, 0.24);
}

.logo-footer:active,
.logo-header:active {
  background-color: #ba2732;
    border-bottom: 5px solid rgba(0, 0, 0, 0.24);
}

.search-form {
  position: relative;
    height: 42px;
}

.search-form input {
  width: 221px;
  height: 40px;
  border: none;
  background-color: #293449;
  padding-left: 49px;
}

.search-form input:-ms-input-placeholder, /* IE 10+ */
.search-form input::-moz-placeholder, /* Firefox 19+ */
.search-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
  opacity: 1;
}

.search-form input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.search-form input:hover {
  background-color: #212a3a;
}

.search-form input:focus {
    background-color: #ffffff;
    outline: none;
}

.search-form svg {
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    opacity: 0.3;
}

.search-form input:hover + svg {
  opacity: 1;
}

.search-form input:focus + svg {
    opacity: 1;
  fill: #ee3643;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    height: 42px;
}

.button-blue {
  position: relative;
    min-width: 150px;
    box-sizing: border-box;
  color: #ffffff;
  background-color: #293449;
    padding: 12px 20px 12px 45px;
  opacity: 1;
}

.bookmark:hover,
.basket:hover {
  background-color: #212a3a;
  opacity: 1;
}

.bookmark:active,
.basket:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.bookmark::before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  left: 17px;
    top: 50%;
    transform: translateY(-50%);
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.basket::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmark:hover::before,
.basket:hover::before {
  opacity: 1;
}

.bookmark:active::before,
.basket:active::before {
  opacity: 0.5;
}

.order {
    min-width: 150px;
    box-sizing: border-box;
    padding: 12px 20px;
  color: #ffffff;
}

.color-green {
  background-color: #63a63e;
}

.order:hover {
  background-color: #5fbb2d;
}

.order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header-middle {
  min-height: 158px;
}

.header-middle .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-h1 {
  width: 211px;
  margin-left: 52px;
  margin-top: 49px;
  margin-right: 57px;
}

.header-h1 {
  width: 197px;
  font-family: Cuprum, Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  margin: 0;
  padding: 0;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 271px;
  margin-top: 47px;
}

.tel-header {
  display: block;
  position: relative;
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  border: 3px solid #ffffff;
  color: #ee3643;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 19px;
  margin-bottom: 5px;
}

.tel-header::before {
  content: "";
  position: absolute;
  left: 12px;
    top: 50%;
    transform: translateY(-50%);
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-phone.svg");
  background-color: #f3f7f8;
  background-repeat: no-repeat;
}

.address-header {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  padding: 0;
  margin: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 281px;
  height: 45px;
  margin-left: auto;
  margin-top: 46px;
}

.btn-user {
  display: block;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

.button-input {
  padding-left: 48px;
  padding-right: 25px;
}

.user svg {
  width: 20px;
  height: 17px;
  position: absolute;
  left: 14px;
    top: 50%;
    transform: translateY(-50%);
}

.user svg {
  fill: #c5c5c5;
}

.button-input:hover + svg {
  fill: #32425c;
}

.button-input:active + svg {
  fill: #c5c5c5;
}

.button-registration {
  width: 150px;
  margin-left: auto;
}

.button-registration:hover,
.button-input:hover {
  color: #ee3643;
}

.btn-user span:active,
.btn-user:active,
.user-cabinet a:active,
.button-registration:active,
.button-input:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  background-color: #32425c;
  color: #ffffff;
  -webkit-box-shadow: 0 5px 0 0 #293449;
  box-shadow: 0 5px 0 0 #293449;
}

.marker-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-navigation-item a {
  display: block;
  padding: 20px 31px 18px 30px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  color: #ffffff;
}

.main-navigation-item a:hover {
  background-color: #293449;
}

.main-navigation-item a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

/*===================================================================
                                                            main-home
===================================================================== */

.main-content {
  margin-top: 59px;
  margin-bottom: 86px;
}

.main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 53px;
  padding: 0;
}

.block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.block {
  position: relative;
  width: 300px;
  height: 123px;
}

.block-1 {
  background-color: #ffbf47;
}

.block-1:after {
  content: "";

  position: absolute;
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.new-flag {
  display: none;
  width: 60px;
  height: 59px;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  text-indent: -100000px;
  z-index: 15;
}

.block-1 .new-flag,
.popular-product .product-item:last-child .new-flag,
.product-cards .product-item:nth-child(3) .new-flag,
.product-cards .product-item:nth-child(5) .new-flag,
.product-cards .product-item:nth-child(7) .new-flag {
  display: block;
}

.block-2 {
  background-color: #3bbce3;
}

.block-2:after {
  content: "";

  position: absolute;
  top: 33px;
  right: 28px;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.block-3 {
  background-color: #dc91d8;
}

.block-3:after {
  content: "";

  position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.block-3,
.block-2 {
  margin-left: 20px;
  margin-bottom: 20px;
}

.block-4 {
  background-color: #8ed78f;
  margin-bottom: 20px;
}

.block-4:after {
  content: "";

  position: absolute;
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
}

.block-5 {
  background-color: #ffc047;
}

.block-5:after {
  content: "";

  position: absolute;
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
}

.title-block {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 21px;
  margin-bottom: 12px;
  margin-left: 23px;
}

.block-button {
  display: block;
  width: 135px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-left: 25px;
  text-align: center;
  border-radius: 3px;
}

.block-3 .block-button,
.block-4 .block-button,
.block-5 .block-button {
  margin-left: 23px;
}

.block-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.block-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.block-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 20px;
}

.slide-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

/*===================================================================
                                                             slide-up
===================================================================== */

.slide {
  position: relative;
  width: 620px;
}

.slide-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  position: absolute;
  left: 290px;
  top: 220px;
  width: 40px;
  height: 20px;
  z-index: 15;
}

.slide-controls label {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide-controls label:before {
  content: "";

  display: none;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
  z-index: 1;
}

.slide-up-list {
  padding: 0;
  margin: 0;
}

.slide-up-item {
  position: absolute;
  display: none;
  background-color: #7e6c59;
}

.slide-up-img {
  vertical-align: top;
}

#slide-1:checked ~ .slide-controls label[for="slide-1"]:before,
#slide-1:checked ~ .slide-up-list .slide-up-item:nth-child(1) {
  display: block;
}

#slide-2:checked ~ .slide-controls label[for="slide-2"]:before,
#slide-2:checked ~ .slide-up-list .slide-up-item:nth-child(2) {
  display: block;
}

.slide-button,
.slide-up-header,
.slide-up-text {
  padding: 0;
  margin: 0;
}

.slide-up-header {
  position: absolute;
  left: 24px;
  top: 23px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.slide .right,
.slide .left {
  width: 22px;
  height: 40px;
  position: absolute;
  top: 114px;
  left: 25px;
  border: none;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  z-index: 15;
}

.slide .right {
  left: 578px;
  background-image: url("../img/icon-right.svg");
}

.slide-up-text {
  position: absolute;
  left: 25px;
  top: 60px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slide-button {
  position: absolute;
  width: 180px;
  top: 206px;
  left: 25px;
  padding-left: 10px;
  padding-right: 5px;
  text-align: center;
}

.btn {
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 9px;
  border-radius: 3px;
  text-align: center;
}

a.btn {
  display: inline-block;
  vertical-align: middle;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}


/*=====================================================================
                                                        popular-product
=====================================================================*/

.heading-container {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-bottom: 26px;
  background-color: #f9f5f0;
}

.heading-cart,
.heading-secondary {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.heading-secondary {
  margin-left: 30px;
}

.button-all {
  width: 253px;
  margin-right: 24px;
}

.heading-popular {
  font-weight: 100;
  color: #32425c;
  margin-top: 1px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 28px;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 218px;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
}

.container-product-img {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  margin: 0 auto 1px auto;
}

.product-header {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 0;
  margin-bottom: auto;
}

.product-header span {
  display: block;
  width: 168px;
}

.popular-product .product-item {
  margin-bottom: 21px;
}

.product-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.old-price,
.price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.old-price {
  color: #a9a9a9;
  margin-top: 11px;
  margin-bottom: 10px;
}

.price {
  position: relative;
  background-color: #ee3643;
  color: #ffffff;
  padding: 10px 34px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.price::after {
  content: "";

  position: absolute;
  top: 0;
  right: -27px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 43px 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;
}

.button-buy,
.button-bookmark {
  display: block;
  width: 129px;
  margin: 0 auto 8px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-bookmark {
  background-color: #ffffff;
  color: #32425c;
  border: 3px solid #63a63e;
}

.button-bookmark:hover {
  border: 3px solid #32425c;
}

.button-bookmark:active {
  opacity: 0.3;
}

.button-buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.button-buy:active {
  background-color: #518534;
  border: 3px solid #518534;
}

.button-buy::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 54px;
  left: 55px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.button-buy:hover::before {
  opacity: 1;
}

.button-buy:active::before {
  opacity: 1;
}

.product-item:hover,
.producer-item:hover {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product-item:hover .actions {
  display: block;
}

/*=====================================================================
                                                       popular-producer
=====================================================================*/

.producer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 65px;
}

.producer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  margin-right: 20px;
  -webkit-box-shadow: inset 0 0 0 1px #eaeaea;
  box-shadow: inset 0 0 0 1px #eaeaea;
}

.producer-item a {
  min-width: 220px;
  min-height: 145px;
}

.producer-item:nth-child(1) img {
  position: absolute;
  left: 47px;
  top: 53px;
}

.producer-item:nth-child(2) img {
  position: absolute;
  left: 48px;
  top: 50px;
}

.producer-item:nth-child(3) img {
  position: absolute;
  left: 37px;
  top: 48px;
}

.producer-item:nth-child(4) img {
  position: absolute;
  left: 17px;
  top: 56px;
}

.producer-item:nth-child(5) img {
  position: absolute;
  left: 28px;
  top: 58px;
}

.producer-item:nth-child(6) img {
  position: absolute;
  left: 48px;
  top: 35px;
}

.producer-item:nth-child(7) img {
  position: absolute;
  left: 35px;
  top: 23px;
}

.producer-item:nth-child(8) img {
  position: absolute;
  left: 10px;
  top: 34px;
}

.producer-item:active {
  -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

/*=====================================================================
                                                               services
=====================================================================*/

.services {
  min-height: 492px;
  background-image: url("../img/pattern-services.png");
  background-repeat: repeat;
  background-color: #f2f6f8;
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.services-header {
  margin-top: 66px;
  margin-left: 0;
  margin-bottom: 26px;
}

.services-text {
  width: 398px;
  margin-top: 0;
  margin-bottom: 67px;
}

.category-description-text,
.text {
  font-size: 13px;
  line-height: 24px;
}

.services-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0;
}

.services-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1px;
}

.services-controls label {
  width: 218px;
  height: 48px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 12px;
  padding-left: 22px;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  cursor: pointer;
}

.services-list {
  position: relative;
  margin-left: 80px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.services-list::after {
  content: "";

  position: absolute;
  left: -90px;
  top: -40px;
  width: 10px;
  height: 279px;
  background-image: url("../img/shadow.png");
  background-repeat: no-repeat;
}

.slider-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-height: 255px;
  padding-bottom: 30px;
}

.slider-bottom::after {
  position: absolute;
  right: 0;
  bottom: 0;
}

.delivery-container .slide-bottom-container {
  width: 275px;
}

.slider-bottom-text {
  position: relative;
}

.slide-block .slide-up:nth-child(1),
.slider-bottom {
  display: none;
}

.slider-bottom-header {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
  padding: 0;
  margin-top: 0;
  margin-bottom: 25px;
}

.delivery-container::after {
  content: "";
  width: 468px;
  height: 261px;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
}

.guarantee-container .slide-bottom-container {
  width: 380px;
}

.guarantee-container::after {
  content: "";
  width: 389px;
  height: 283px;
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
}

.button-request {
  width: 195px;
  margin-top: 12px;
  background-color: #ff5357;
}

.credit-container .slide-bottom-container {
  width: 278px;
}

.credit-container::after {
  content: "";
  width: 465px;
  height: 285px;
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
}

.services-item:hover {
  background-color: #293449;
}

#credit:checked ~ .services-list .credit-container,
#guarantee:checked ~ .services-list .guarantee-container,
#delivery:checked ~ .services-list .delivery-container {
  display: block;
}

#credit:checked ~ .services-controls label[for="credit"],
#guarantee:checked ~ .services-controls label[for="guarantee"],
#delivery:checked ~ .services-controls label[for="delivery"] {
  background-color: #ffffff;
  color: #32425c;
  border-color: #ffffff;
}

/*=====================================================================
                                                                  about
=====================================================================*/


.about-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-container {
  width: 540px;
  margin-right: 99px;
}

.about-us {
  margin-top: 0;
  margin-bottom: 25px;
  padding: 0;
}

.about-us:last-of-type {
  margin-bottom: 19px;
}

.map {
  width: 301px;
}

.map-text {
  margin-bottom: 31px;
  width: 180px;
}

.map-link {
  display: block;
  background-color: #e2e1dc;
}

.map-img {
  vertical-align: top;
}

.map-header,
.about-header {
  padding: 0;
  margin-top: 79px;
  margin-left: 0;
  margin-bottom: 26px;
  font-weight: 100;
}

.about-us-2 {
  width: 385px;
}

.about-traffic-list {
  margin-bottom: 37px;
}

.about-traffic-item {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.button-about {
  width: 220px;
}

.button-write-us {
  width: 300px;
  margin-left: 1px;
    margin-top: 40px;
}

.about-traffic-item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  margin-right: 10px;
  line-height: 20px;
  vertical-align: middle;
  background-color: #fb565a;
}

/*=====================================================================
                                                                 footer
=====================================================================*/

.main-footer {
  background-color: #32425c;
}


.navigation-footer-list,
.navigation-list,
.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    justify-content: center;
    align-items: center;
  width: 220px;
    height: 63px;
  background-color: #ee3643;
    border-bottom: 5px solid rgba(0, 0, 0, 0.24);
}

.logo-address {
  width: 330px;
}

.address-footer {
  margin-left: 3px;
  margin-top: 27px;
  margin-bottom: 0;
}

.tel-footer {
  display: block;
  margin-left: 3px;
  margin-top: 0;
  margin-bottom: 49px;
}

.tel-footer,
.address-footer,
.navigation-footer-item a,
.navigation-item a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  color: #f1f5f7;
}

.navigation-list {
  margin-top: 37px;
}

.navigation-item:not(:first-child) {
  margin-left: 59px;
}

.navigation-footer {
  width: 550px;
  margin-left: auto;
}

.navigation-footer-list {
  margin-top: 33px;
}

.navigation-footer-item:not(:first-child) {
  margin-left: 60px;
}

.navigation-footer-item:first-child {
  margin-left: 22px;
}

.navigation-footer-item a {
  color: #ffd180;
}

.mail:hover,
.url:hover,
.navigation-footer-item a:hover,
.navigation-item a:hover {
  text-decoration: underline;
}

.navigation-item a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.navigation-footer-item a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.footer-down {
  background-color: #293449;
  padding-bottom: 20px;
}

.footer-down .container {
  height: 107px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.copyright {
  width: 232px;
  margin-top: 38px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 129px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 160px;
}

.social-item:not(:first-child) {
  margin-left: 3px;
}

.social-item {
  position: relative;
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 41px;
  height: 41px;
}

.social-item-vk a::after {
  content: "";

  position: absolute;
  top: 15px;
  left: 6px;
  width: 26px;
  height: 15px;
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
}

.social-item-fb a::after {
  content: "";

  position: absolute;
  top: 12px;
  left: 14px;
  width: 12px;
  height: 22px;
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
}

.social-item-ig a::after {
  content: "";

  position: absolute;
  top: 12px;
  left: 10px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
}

.social-item:hover,
.social-item:active {
  background-color: #ee3643;
}

.copyright,
.feedback,
.mail,
.developer,
.url {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.mail,
.url {
  color: #ffd180;
}

.url:active,
.mail:active {
  color: #ee3643;
  text-decoration: none;
}

.feedback-developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px;
  margin-left: auto;
}

.developer,
.feedback {
  margin-bottom: 0;
  margin-top: 3px;
}

.mail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.developer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 15px;
}

/*=====================================================================
                                                           catalog.html
=====================================================================*/

.color-red {
  background-color: #ee3643;
}

.user-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin-top: 46px;
  margin-left: auto;
}

.user-account a {
    position: relative;
}

.btn-user span {
  margin: auto;
  padding-left: 46px;
  padding-right: 67px;
}

.user-account svg:nth-of-type(1) {
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
  left: 13px;
}

.user-account .exit:hover svg,
.user-account .btn-user:hover svg {
  fill: #32425c;
}

.user-account .exit {
  position: absolute;
  width: 40px;
  height: 44px;
  right: 4px;
}

.user-account svg {
  fill: #c5c5c5;
}

.user-account .exit:active svg,
.user-account .btn-user:active svg {
  fill: #c5c5c5;
}

.user-cabinet {
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 7px;
  margin-left: 17px;
  padding: 0;
}

.user-cabinet a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

.user-cabinet a:hover {
  color: #ee3643;
}

.user-cabinet a:active {
  opacity: 0.3;
  color: #32425c;
}

/*=====================================================================
                                                           main-catalog
=====================================================================*/

.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 19px;
}

.breadcrumb-item {
  position: relative;
}

.breadcrumb-item:first-child {
  margin-right: 15px;

}

.breadcrumb-item:not(:first-child) {
  margin-left: 40px;
}

.breadcrumb-item:nth-of-type(1) a {
  width: 15px;
  height: 12px;
  position: absolute;
  top: -8px;
  right: 0;
  bottom: 0;
  left: -2px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
}

.breadcrumb-item:not(:nth-of-type(1)) a::before {
  content: "";

  width: 8px;
  height: 12px;
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: -25px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
}

.breadcrumb-item a {
  color: #000000;
  text-transform: uppercase;
}

.heading-blue {
  color: #32425c;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 28px;
  font-weight: normal;
}

.catalog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.header-page-container {
  padding-top: 30px;
  padding-bottom: 29px;
  background-color: #f2f6f8;
}

/*=====================================================================
                                                                filters
=====================================================================*/

.filters {
  width: 220px;
  padding: 0;
}

.filters-radio-group,
.filters-checkbox-group,
.filters-range-group {
  width: 220px;
  border: none;
  margin-top: 10px;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
}

.header-filters-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
  margin-top: 0;
}

.header-filters {
  text-transform: uppercase;
  margin-left: 20px;
}

.range {
  width: 220px;
  height: 80px;
  position: relative;
  margin-top: 15px;
  background-color: #f7f3ec;
}

.slider-gray {
  position: absolute;
  top: 39px;
  left: 20px;
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.slider-green {
  position: absolute;
  top: 39px;
  left: 20px;
  width: 152px;
  height: 2px;
  background-color: #00ca74;
  z-index: 1;
}

.btn-range {
  position: absolute;
  top: 30px;
  width: 20px;
  height: 20px;
  border-radius: 60px;
  background-color: #ababab;
  border: none;
  -webkit-box-shadow: 0 2px 0 0 #e0ddd8,
  inset 0 0 0 8px #ffffff;
  box-shadow: 0 2px 0 0 #e0ddd8,
  inset 0 0 0 8px #ffffff;
  z-index: 2;
}

.btn-range-min {
  left: 20px;
}

.btn-range-max {
  left: 160px;
}

.price-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 220px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.price-range input {
  border: none;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  padding: 0;
}

.price-range input:last-child {
  margin-left: auto;
}

.price-range input:first-child {
  margin-right: auto;
}

.price-range div {
  width: 10px;
  height: 1px;
  background-color: #444444;
  margin: auto 10px;
}

.filters-range-group input {
  width: 95px;
  height: 38px;
  background-color: #f7f3ec;
}

.filter-header {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 0;
}

.filters-radio-group label,
.filters-checkbox-list label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.filters-checkbox-group {
  margin-top: 15px;
}

.filters-checkbox-list {
  margin-top: 13px;
}

.filters-checkbox-item {
  position: relative;
  margin-bottom: 16px;
  margin-left: 35px;
}

.checkbox-indicator {
  position: absolute;
  width: 27px;
  height: 23px;
  top: -1px;
  left: -35px;
  background-repeat: no-repeat;
}

.radio-indicator svg,
.checkbox-indicator svg {
  position: absolute;
}

.radio-indicator path,
.checkbox-indicator path {
  fill: #c5c5c5;
}

.radio-indicator svg:last-child,
.checkbox-indicator svg:last-child {
  display: none;
}

.filters-radio-list input[name="power"]:checked ~ label svg:last-child,
.filters-checkbox-list input[type="checkbox"]:checked ~ label svg:last-child {
  display: block;
}

.filters-radio-list input[name="power"]:disabled ~ label,
.filters-radio-list input[name="power"]:disabled ~ .radio-indicator,
.filters-checkbox-list input[type="checkbox"]:disabled ~ label,
.filters-checkbox-list input[type="checkbox"]:disabled ~ .checkbox-indicator {
  opacity: 0.3;
  cursor: default;
}

.filters-radio-item label:hover .radio-indicator svg circle,
.filters-radio-item label:hover .radio-indicator svg path,
.filters-checkbox-item label:hover .checkbox-indicator svg path {
  fill: #b5b5b5;
}

.filters-checkbox-item:last-child {
  margin-bottom: 18px;
}

.filters-radio-group {
  margin-top: 17px;
  border: none;
}

.filters-radio-list {
  margin-top: 14px;
}

.filters-radio-item {
  position: relative;
  margin-bottom: 16px;
  margin-left: 35px;
}

.radio-indicator {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -1px;
  left: -35px;
  background-repeat: no-repeat;
}

.button-filters {
  width: 140px;
  height: 38px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  margin-top: 60px;
  outline: none;
}

.modal-cart-button-continue span,
.button-filters span {
  position: relative;
  top: 0;
  left: 0;
}

/*=====================================================================
                                                        product-sorting
=====================================================================*/

.product-sorting {
  width: 700px;
  margin-left: auto;
}

.sorting-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 460px;
  margin-left: auto;
}

.sorting-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f3ec;
  margin-bottom: 20px;
}

.sorting-link {
  padding-top: 1px;
}

.sorting-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting-up-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  margin-left: auto;
}

.sorting-items a {
  height: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting-items a:nth-child(1) {
  margin-right: 70px;
}

.sorting-items a:nth-of-type(2) {
  margin-right: 66px;
}

.sorting-items a:nth-child(3) {
  margin-right: 40px;
}

.sorting-up-down a:nth-child(1) {
  margin-right: 21px;
}

.sorting-items a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-container a:focus {
  color: #ee3643;
  border: none;
}

.sorting-up-down path {
  fill: #c5c5c5;
}

.sorting-up-down a:hover path {
  fill: #231f20;
}

.sorting-up-down a:focus path {
  fill: #ee3643;
}

.product-cards .product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.producer-item:nth-child(4n+4),
.popular-product .product-item:nth-child(4n+4),
.product-cards .product-item:nth-child(3n) {
  margin-right: 0;
}

.page-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 284px;
  margin-bottom: 60px;
  line-height: 18px;
  text-transform: uppercase;
}

.page-item {
  width: 38px;
  height: 38px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 1px #e5e5e5;
  box-shadow: inset 0 0 0 1px #e5e5e5;
}

.page-item a {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #000000;
}

.activ-page a {
  background-color: #ee3643;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
}

.next {
  width: 140px;
}

.modal-cart-button-continue:hover,
.button-filters:hover,
.page-item:hover {
  -webkit-box-shadow: inset 0 0 0 1px #bdc6ca;
  box-shadow: inset 0 0 0 1px #bdc6ca;
}

.modal-cart-button-continue:active,
.button-filters:active,
.page-item:active {
  -webkit-box-shadow: inset 0 0 0 1px #ee3643;
  box-shadow: inset 0 0 0 1px #ee3643;
  padding: 0;
}


/*=====================================================================
                                                  .category-description
=====================================================================*/

.category-description {
  background-color: #f2f6f8;
  min-height: 261px;
}

.category-description .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.category-description-header {
  margin-left: 0;
  margin-top: 65px;
  margin-bottom: 0;
  font-weight: normal;
  font-stretch: condensed;
}

.category-description-text {
  margin-top: 26px;
  font-weight: 500;
}

/*=====================================================================
                                                         popup-write-us
=====================================================================*/

.js-modal {
  display: none;
}

@-webkit-keyframes emerging {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes emerging {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.js-modal-show {
  display: block;
  -webkit-animation-name: emerging;
  animation-name: emerging;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
}

.js-modal-error {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
}

.modal-write-us {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 620px;
  margin-left: -310px;
  background-color: #ffffff;
  border-top: 7px solid #ff5357;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  z-index: 20;
}

.form-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 48px;
}

.write-us-1,
.write-us-2,
.write-us-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.write-us-2 {
  margin-left: 20px;
}

.write-us-3 {
  margin-top: 22px;
}

.modal-write-us-form label {
  margin-bottom: 13px;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
  width: 620px;
  height: 112px;
  background-color: #f4f4f4;
}

.comment {
  width: 460px;
  height: 114px;
}

.modal-write-us-button {
  width: 460px;
  height: 38px;
  margin: auto;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}

.input-title {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.modal-write-us-form input {
  border: 2px solid #d7dcde;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 12px;
  outline: none;
}

.modal-write-us-form textarea:hover,
.modal-write-us-form input:hover {
  border: 2px solid #b5b5b5;
}

.modal-write-us-form textarea:focus,
.modal-write-us-form input:focus {
  border: 2px solid #ee3643;
}

:focus:-ms-input-placeholder {
  color: #a9a9a9;
  opacity: 1;
}

.modal-write-us-form textarea {
  resize: none;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 9px;
  padding-left: 12px;
  outline: none;
}

.close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/*=====================================================================
                                                              js-modal-map
=====================================================================*/
.map-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  margin-left: -470px;
  margin-top: -223px;
  padding: 0;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.map-popup iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}

.js-modal-write-us-block,
.js-map-block {
  display: block;
}

/*=====================================================================
                                                             js-modal-cart
=====================================================================*/

.modal-cart-button-continue,
.input-popup {
  width: 220px;
  height: 38px;
}

.page-item,
.sorting-container a,
.button-filters,
.header-filters,
.breadcrumb-item,
.modal-write-us-form input,
.modal-write-us-form textarea {
  font-size: 13px;
  line-height: 18px;
}

.modal-cart {
  position: fixed;
  top: 120px;
  left: 50%;
  width: 620px;
  margin-left: -310px;
  background-color: #ffffff;
  border-top: 7px solid #ff5357;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  z-index: 20;
}

.modal-cart-text {
  position: relative;
  min-height: 163px;
}

.heading-cart {
  position: relative;
  margin-top: 48px;
  margin-bottom: 48px;
  margin-left: 79px;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: none;
}

.heading-cart::before {
  content: "";

  position: absolute;
  top: 0;
  left: 2px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-added.svg");
  background-repeat: no-repeat;
}

.modal-cart-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 112px;
  background-color: #f1f1f1;
}

.modal-cart-button-continue {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  border-radius: 3px;
  color: #000000;
  margin: auto 10px;
  border: none;
  cursor: pointer;
  outline: none;
}

.modal-cart-button-buy {
  width: 220px;
  height: 38px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 11px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 10px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
  margin: auto 10px;
}