/*=====================================================================
                                                       catalog-products
=====================================================================*/

.breadcrumb-list {
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 19px;
}

.breadcrumb-item {
    position: relative;

    &:first-child {
        margin-right: 15px;

    }

    &:not(:first-child) {
        margin-left: 40px;
    }

    a {
        color: #000000;
        text-transform: uppercase;
    }

    &:nth-of-type(1) a {
        width: 15px;
        height: 12px;
        position: absolute;
        top: -8px;
        right: 0;
        bottom: 0;
        left: -2px;
        background-image: url("../img/icon-home.svg");
        background-repeat: no-repeat;
    }

    &:not(:nth-of-type(1)) a::before {
        content: "";
        width: 8px;
        height: 12px;
        position: absolute;
        top: 2px;
        right: 0;
        bottom: 0;
        left: -25px;
        background-image: url("../img/icon-right-small.svg");
        background-repeat: no-repeat;
    }
}

.heading-blue {
    color: #32425c;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 28px;
    font-weight: normal;
}

.catalog-content {
    display: flex;
    margin-top: 20px;
}

.header-page-container {
    padding-top: 30px;
    padding-bottom: 29px;
    background-color: #f2f6f8;
}