/*=====================================================================
                                                                filters
=====================================================================*/

.filters {
    width: 220px;
    padding: 0;
}

.filters-radio-group,
.filters-checkbox-group,
.filters-range-group {
    width: 220px;
    border: none;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    border-bottom: 1px solid #e5e5e5;
}

.header-filters-container {
    display: flex;
    width: 220px;
    height: 38px;
    background-color: #f7f3ec;
    margin-top: 0;
}

.header-filters {
    text-transform: uppercase;
    margin-left: 20px;
}

.range .ui-slider-handle {
    width: 14px;
    height: 14px;
    top: -6px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
    transform: translateX(0);
    outline: none;
    cursor: pointer;
}

.ui-slider-handle-value {
    font-size: 12px;
    min-width: 35px;
    text-align: center;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 10px));
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;

    &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translateX(-50%) rotate(-45deg);
        border: 3px solid transparent;
        border-left-color: #fff;
        border-bottom-color: #fff;
        box-shadow: -7px 6px 7px 0 rgba(0, 0, 0, 0.1);
    }
}

.range__slider {
    border: none;
    background: #eef2f5;
    border-radius: 0;
    margin-top: 58px;
    height: 4px;
}

.range__label {
    font-size: 10px;
    line-height: 20px;
    color: #808080;
}

.range__input {
    width: 104px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #808080;
    display: block;
    text-align: center;
    font-size: 26px;
    color: #000000;
}

.range__text-inputs {
    display: flex;
    justify-content: space-between;
}

.range__wrapper {
    text-align: left;
    line-height: 16px;
}

.ui-slider-range {
    background: #ee3643;
}

.filter-header {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    margin-left: 0;
}

.js-filter-header.active {
    color: #ee3643;
}

.filters-radio-group label,
.filters-checkbox-list label {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.filters-checkbox-group {
    margin-top: 15px;
}

.filters-checkbox-list {
    margin-top: 13px;
}

.filters-checkbox-item {
    position: relative;
    margin-bottom: 16px;
    margin-left: 35px;
}

.checkbox-indicator {
    position: absolute;
    width: 27px;
    height: 23px;
    top: -1px;
    left: -35px;
    background-repeat: no-repeat;
}

.radio-indicator svg,
.checkbox-indicator svg {
    position: absolute;
}

.radio-indicator path,
.checkbox-indicator path {
    fill: #c5c5c5;
}

.radio-indicator svg:last-child,
.checkbox-indicator svg:last-child {
    display: none;
}

.filters-radio-list input[name="power"]:checked ~ label svg:last-child,
.filters-checkbox-list input[type="checkbox"]:checked ~ label svg:last-child {
    display: block;
}

.filters-radio-list input[name="power"]:disabled ~ label,
.filters-radio-list input[name="power"]:disabled ~ .radio-indicator,
.filters-checkbox-list input[type="checkbox"]:disabled ~ label,
.filters-checkbox-list input[type="checkbox"]:disabled ~ .checkbox-indicator {
    opacity: 0.3;
    cursor: default;
}

.filters-radio-item label:hover .radio-indicator svg circle,
.filters-radio-item label:hover .radio-indicator svg path,
.filters-checkbox-item label:hover .checkbox-indicator svg path {
    fill: #b5b5b5;
}

.filters-checkbox-item:last-child {
    margin-bottom: 18px;
}

.filters-radio-group {
    margin-top: 17px;
    border: none;
}

.filters-radio-list {
    margin-top: 14px;
}

.filters-radio-item {
    position: relative;
    margin-bottom: 16px;
    margin-left: 35px;
}

.radio-indicator {
    position: absolute;
    width: 25px;
    height: 25px;
    top: -1px;
    left: -35px;
    background-repeat: no-repeat;
}

.button-filters {
    width: 140px;
    height: 38px;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    margin-top: 60px;
    outline: none;
}

.modal-cart-button-continue span,
.button-filters span {
    position: relative;
    top: 0;
    left: 0;
}