/*=====================================================================
                                                                 footer
=====================================================================*/

.main-footer {
    background-color: #32425c;
}


.navigation-footer-list,
.navigation-list,
.main-footer .container {
    display: flex;
    flex-wrap: wrap;
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 63px;
    background-color: #ee3643;
    border-bottom: 5px solid rgba(0, 0, 0, 0.24);
}

.logo-address {
    width: 330px;
}

.address-footer {
    margin-left: 3px;
    margin-top: 27px;
    margin-bottom: 0;
}

.tel-footer {
    display: block;
    margin-left: 3px;
    margin-top: 0;
    margin-bottom: 49px;
}

.tel-footer,
.address-footer,
.navigation-footer-item a,
.navigation-item a {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    color: #f1f5f7;
}

.navigation-list {
    margin-top: 37px;
}

.navigation-item:not(:first-child) {
    margin-left: 59px;
}

.navigation-footer {
    width: 550px;
    margin-left: auto;
}

.navigation-footer-list {
    margin-top: 33px;
}

.navigation-footer-item {

    &:not(:first-child) {
        margin-left: 60px;
    }

    &:first-child {
        margin-left: 22px;
    }

    a {
        color: #ffd180;

        &:active {
            text-decoration: none;
            color: rgba(255, 209, 128, 0.5);
        }
    }
}

.mail:hover,
.url:hover,
.navigation-footer-item a:hover,
.navigation-item a:hover {
    text-decoration: underline;
}

.navigation-item a:active {
    text-decoration: none;
    color: rgba(241, 245, 247, 0.5);
}

.footer-down {
    background-color: #293449;
    padding-bottom: 20px;

    .container {
        height: 107px;
        justify-content: space-between;
    }
}

.copyright {
    width: 232px;
    margin-top: 38px;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    width: 129px;
    justify-content: center;
    align-items: center;
    margin-left: 160px;
}

.social-item {
    position: relative;
    width: 41px;
    height: 41px;
    background-color: #212a3a;
    border-radius: 50%;

    &:not(:first-child) {
        margin-left: 3px;
    }

    a {
        display: flex;
        width: 41px;
        height: 41px;
    }
}

.social-item-vk a::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 6px;
    width: 26px;
    height: 15px;
    background-image: url("../img/icon-vk.svg");
    background-repeat: no-repeat;
}

.social-item-fb a::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 14px;
    width: 12px;
    height: 22px;
    background-image: url("../img/icon-fb.svg");
    background-repeat: no-repeat;
}

.social-item-ig a::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 10px;
    width: 21px;
    height: 21px;
    background-image: url("../img/icon-insta.svg");
    background-repeat: no-repeat;
}

.social-item:hover,
.social-item:active {
    background-color: #ee3643;
}

.copyright,
.feedback,
.mail,
.developer,
.url {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.mail,
.url {
    color: #ffd180;
}

.url:active,
.mail:active {
    color: #ee3643;
    text-decoration: none;
}

.feedback-developer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-left: auto;
}

.developer,
.feedback {
    margin-bottom: 0;
    margin-top: 3px;
}

.mail-container {
    display: flex;
    flex-direction: column;
}

.developer-container {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}