/*=====================================================================
                                                               services
=====================================================================*/

.services {
    min-height: 492px;
    background-image: url("../img/pattern-services.png");
    background-repeat: repeat;
    background-color: #f2f6f8;
}

.services .container {
    display: flex;
    flex-direction: column;
}

.services-header {
    margin-top: 66px;
    margin-left: 0;
    margin-bottom: 26px;
}

.services-text {
    width: 398px;
    margin-top: 0;
    margin-bottom: 67px;
}

.category-description-text,
.text {
    font-size: 13px;
    line-height: 24px;
}

.services-slider {
    display: flex;
    position: relative;
}

.services-controls {
    display: flex;
    flex-direction: column;
}

.services-controls label {
    width: 218px;
    height: 48px;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 12px;
    padding-left: 22px;
    background-color: #32425c;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    cursor: pointer;
}

.services-list {
    position: relative;
    margin-left: 80px;
    flex-grow: 1;

    &::after {
        content: "";
        position: absolute;
        left: -90px;
        top: -40px;
        width: 10px;
        height: 279px;
        background-image: url("../img/shadow.png");
        background-repeat: no-repeat;
    }
}

.slider-bottom {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 255px;
    padding-bottom: 30px;

    &::after {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.delivery-container .slide-bottom-container {
    width: 275px;
}

.slider-bottom-text {
    position: relative;
}

.slide-block .slide-up:nth-child(1),
.slider-bottom {
    display: none;
}

.slider-bottom-header {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 25px;
}

.delivery-container::after {
    content: "";
    width: 468px;
    height: 261px;
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
}

.guarantee-container .slide-bottom-container {
    width: 380px;
}

.guarantee-container::after {
    content: "";
    width: 389px;
    height: 283px;
    background-image: url("../img/guarantee.png");
    background-repeat: no-repeat;
}

.button-request {
    width: 195px;
    margin-top: 12px;
    background-color: #ff5357;
}

.credit-container .slide-bottom-container {
    width: 278px;
}

.credit-container::after {
    content: "";
    width: 465px;
    height: 285px;
    background-image: url("../img/credit.png");
    background-repeat: no-repeat;
}

.services-item:hover {
    background-color: #293449;
}

#credit:checked ~ .services-list .credit-container,
#guarantee:checked ~ .services-list .guarantee-container,
#delivery:checked ~ .services-list .delivery-container {
    display: block;
}

#credit:checked ~ .services-controls label[for="credit"],
#guarantee:checked ~ .services-controls label[for="guarantee"],
#delivery:checked ~ .services-controls label[for="delivery"] {
    background-color: #ffffff;
    color: #32425c;
    border-color: #ffffff;
}