/*===================================================================
                                                             slide-up
===================================================================== */

.slide {
    position: relative;
    width: 620px;
}

.slide-controls {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 290px;
    top: 220px;
    width: 40px;
    height: 20px;
    z-index: 15;
}

.slide-controls label {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;

    &::before {
        content: "";
        display: none;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 6px;
        height: 6px;
        background-color: #ee3643;
        border-radius: 50%;
        z-index: 1;
    }
}

.slide-up-item {
    position: absolute;
    display: none;
    background-color: #7e6c59;
}

.slide-up-img {
    vertical-align: top;
}

#slide-1:checked ~ .slide-controls label[for="slide-1"]:before,
#slide-1:checked ~ .slide-up-list .slide-up-item:nth-child(1) {
    display: block;
}

#slide-2:checked ~ .slide-controls label[for="slide-2"]:before,
#slide-2:checked ~ .slide-up-list .slide-up-item:nth-child(2) {
    display: block;
}

.slide-button,
.slide-up-header,
.slide-up-text {
    margin: 0;
}

.slide-up-header {
    position: absolute;
    left: 24px;
    top: 23px;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}

.slide .right,
.slide .left {
    width: 22px;
    height: 40px;
    position: absolute;
    top: 114px;
    left: 25px;
    border: none;
    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    z-index: 15;
}

.slide .right {
    left: 578px;
    background-image: url("../img/icon-right.svg");
}

.slide-up-text {
    position: absolute;
    left: 25px;
    top: 60px;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.slide-button {
    position: absolute;
    width: 180px;
    top: 206px;
    left: 25px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
}

.btn {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    padding-top: 11px;
    padding-bottom: 9px;
    border-radius: 3px;
    text-align: center;

    &:hover {
        background-color: #ca2c37;
    }

    &:active {
        background-color: #ba2732;
    }
}

a.btn {
    display: inline-block;
    vertical-align: middle;
}
